@import "tailwindcss";
@plugin "daisyui";




@plugin "daisyui/theme" {
    name: "light";
    default: true;
    --color-primary: #10b981;
    --color-secondary: "#facc15";
    --color-base-100: #ffffff;
    --color-base-200: #f4f4f5;
    --color-base-content: #1f2937;
}
@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    --color-primary: #10b981;
    /* --color-secondary: "#facc15"; */
    /* --color-base-100: #ffffff; */
    /* --color-base-200: #f4f4f5; */
    /* --color-base-content: #1f2937; */
}


/* 
:root[data-theme="light"] {
   --color-primary: #ffffff;
  --color-primary-content: #d5e5d1;
  --color-secondary: #53624f;
  --color-accent: #161616;
  --color-accent-content: #1e1e1e;
}
:root[data-theme="dark"] {
   --color-primary: #ffffff;
  --color-primary-content: #d5e5d1;
  --color-secondary: #53624f;
  --color-accent: #161616;
  --color-accent-content: #1e1e1e;
} */


/* "#10b981" green 500*/
/* daisyui: {
  themes: [
    "light",
    "dark", 
    {
      mytheme: {
        "primary": "#10b981", // Tailwind green-500
        "secondary": "#facc15", // yellow-400
        "base-100": "#ffffff",
        "base-200": "#f4f4f5",
        "base-content": "#1f2937",
      },
    }
  ],
}, */